.footer{
  padding: 50px 0 80px;
  background: #262934;
  &__title{
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    position: relative;
    font-size: 18px;
    color: white;
    font-weight: 600;
    &:before {
      background: white;
      bottom: 0;
      content: "";
      display: inline-block;
      height: 1px;
      position: absolute;
      width: 80px;
    }
  }
  &__item{
    display: flex;
    align-items: center;
    column-gap: 15px;
    i {
      font-size: 18px;
      color: white;
    }
  }
  &__link{
    font-size: 14px;
    color: white;
  }
}