.header{
  &__top{
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-list{
      display: flex;
      column-gap: 7px;
    }
    &-link{
      i{
        font-size: 16px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        padding: 0;
        border-radius: 50%;
        text-align: center;
        color: #fff;
        background: $blue;
        transition: background 0.2s, color 0.2s;
        &:hover{
          background: #146e86;
        }
      }
    }
  }
  &__logo{
    img{
      width: 110px;
      vertical-align: middle;
    }
  }
  &__right{
    display: flex;
    align-items: center;
    column-gap: 40px;
  }
  &__info{
    display: flex;
    align-items: center;
    column-gap: 10px;
    i {
      color: $blue;
      font-size: 18px;
    }
    &-number{
      font-size: 14px !important;
    }
    &-text{
      p{
        color: #7e7e7e;
        font-weight: 600;
        font-size: 13px;
        line-height: 18px;
      }
      a{
        color: #666;
        font-size: 13px;
        font-weight: 400;
        line-height: 18px;
      }
    }
  }
  &__nav{
    z-index: 99;
    box-shadow: 0 2px 10px -3px #808080;
    width: 100%;
    background-color: $blue;
    &-fixed{
      position: fixed;
      top: 0;
    }
  }
  &__list{
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item{
    position: relative;
    height: 100%;
    display: flex;
    align-items: center;
  }
  &__link{
    padding: 12px 20px;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    &:hover{
      background-color: #146e86;
    }
    i{
      color: white;
      margin-left: 5px;
    }
  }
  &__dropdown{
    display: none;
    min-width: 160px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    padding: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0;
    background: $blue;
    border: none;
    &-active{
      display: block;
    }
    &-item{
      height: 37px;
      display: flex;
      align-items: center;
    }
    &-link{
      width: 100%;
      color: #fff;
      line-height: 23px;
      padding: 9px 15px;
      text-decoration: none;
      font-size: 14px;
      font-weight: 500;
      white-space: nowrap;
      &:hover{
        background-color: #146e86;
      }
    }
  }
  &__burger{
    display: none;
  }
}

@media (max-width: 1150px) {
  .header{
    &__nav{
      height: 92px;
    }
    &__list{
      max-width: 80%;
      justify-content: flex-start;
    }
  }
}

@media (max-width: 850px) {
  .header__list{
    max-width: 98%;
  }
}

@media (max-width: 767px) {
  .header{
    box-shadow: 0 2px 10px -3px #808080;
    background-color: #fff;
    width: 100%;
    &.fixed {
      position: fixed;
      top: 0;
      z-index: 99;
    }
    &__top{
      height: 110px;
    }
    &__logo{
      img{
        width: 90px;
      }
    }
    &__right{
      display: none;
    }
    &__dropdown{
      position: static;
      box-shadow: 0 0 0;
      margin: 0 0 10px 5px;
    }
    &__item{
      height: auto;
      flex-direction: column;
      align-items: flex-start;
    }
    &__link{
      padding: 0 0 10px 0;
      &:hover{
        background-color: transparent;
      }
    }
    &__nav{
      padding: 0;
      height: 0;
      &-fixed{
        position: static;
      }
      &-active{
        padding: 20px 0 5px 0;
        height: 315px;
        .header__list{
          display: flex;
          flex-wrap: nowrap;
        }
      }
    }
    &__list{
      display: none;
      overflow-y: auto;
      height: 290px;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      row-gap: 10px;
    }
    &__burger{
      cursor: pointer;
      display: block;
      width: 40px;
      height: 40px;
      position: absolute;
      right: 0;
      transform: rotate(180deg);
      &-line{
        width: 85%;
        height: 3px;
        background: $blue;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        position: absolute;
        &:before{
          content: '';
          position: absolute;
          width: 70%;
          height: 3px;
          background: $blue;
          left: 0;
          top: -10px;
          transition: .3s;
        }
        &:after{
          content: '';
          position: absolute;
          width: 40px;
          height: 3px;
          background: $blue;
          left: 0;
          top: 10px;
          transition: .3s;
        }
      }
    }
  }
}