.slider{
  .mySwiper{
    height: 500px;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    img{
      height: auto;
      width: 100%;
    }
  }
  .swiper-slide:nth-child(3) img{
    align-self: flex-start;
  }
  .swiper-button-next, .swiper-button-prev{
    width: 48px;
    height: 48px;
    svg{
      path{
        stroke-opacity: 1;
        opacity: 0.8;
      }
    }
    &:after{
      content: '';
    }
  }
  .swiper-button-prev.swiper-button-disabled{
    svg{
      path{
        stroke-opacity: 0.7;
      }
    }
  }
  .swiper-button-next.swiper-button-disabled{
    svg{
      path{
        stroke-opacity: 0.7;
      }
    }
  }
}

@media (max-width: 767px) {
  .slider{
    .mySwiper{
      height: 200px;
    }
  }
  .swiper-button-next, .swiper-button-prev{
    svg{
      width: 35px;
    }
  }
}