.slider{
  .mySwiper{
    height: 500px;
  }
  .swiper-slide{
    display: flex;
    align-items: center;
    img{
      height: auto;
      width: 100%;
    }
  }
  .swiper-slide:nth-child(3) img{
    align-self: flex-start;
  }
}

@media (max-width: 767px) {
  .slider{
    .mySwiper{
      height: 200px;
    }
  }
  .swiper-button-next, .swiper-button-prev{
    svg{
      width: 35px;
    }
  }
}