@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.57143;
  font-weight: 400;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 30px;
}

.title {
  line-height: 1.1;
  font-weight: 700;
  font-size: 30px;
  color: #019cc4;
  margin-bottom: 60px;
  padding: 0;
  text-align: center;
  position: relative;
}
.title:after {
  background-color: #019cc4;
  content: "";
  display: block;
  height: 2px;
  margin: 14px auto 0;
  width: 80px;
}

.header__top {
  position: relative;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-link i {
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #019cc4;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.header__top-link i:hover {
  background: #146e86;
}
.header__logo img {
  width: 110px;
  vertical-align: middle;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__info i {
  color: #019cc4;
  font-size: 18px;
}
.header__info-number {
  font-size: 14px !important;
}
.header__info-text p {
  color: #7e7e7e;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
.header__info-text span {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.header__nav {
  z-index: 99;
  -webkit-box-shadow: 0 2px 10px -3px #808080;
          box-shadow: 0 2px 10px -3px #808080;
  width: 100%;
  background-color: #019cc4;
}
.header__nav-fixed {
  position: fixed;
  top: 0;
}
.header__list {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}
.header__link:hover {
  background-color: #146e86;
}
.header__link i {
  color: white;
  margin-left: 5px;
}
.header__dropdown {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  background: #019cc4;
  border: none;
}
.header__dropdown-active {
  display: block;
}
.header__dropdown-item {
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__dropdown-link {
  width: 100%;
  color: #fff;
  line-height: 23px;
  padding: 9px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.header__dropdown-link:hover {
  background-color: #146e86;
}
.header__burger {
  display: none;
}

@media (max-width: 1150px) {
  .header__nav {
    height: 92px;
  }
  .header__list {
    margin: 0 auto;
    max-width: 80%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 850px) {
  .header__list {
    max-width: 98%;
  }
}
@media (max-width: 767px) {
  .header {
    -webkit-box-shadow: 0 2px 10px -3px #808080;
            box-shadow: 0 2px 10px -3px #808080;
    background-color: #fff;
    width: 100%;
  }
  .header.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .header__top {
    height: 110px;
  }
  .header__logo img {
    width: 90px;
  }
  .header__right {
    display: none;
  }
  .header__dropdown {
    position: static;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    margin: 0 0 10px 5px;
  }
  .header__item {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__link {
    padding: 0 0 10px 0;
  }
  .header__link:hover {
    background-color: transparent;
  }
  .header__nav {
    padding: 0;
    height: 0;
  }
  .header__nav-fixed {
    position: static;
  }
  .header__nav-active {
    padding: 20px 0 5px 0;
    height: 315px;
  }
  .header__nav-active .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  .header__list {
    display: none;
    overflow-y: auto;
    height: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
  }
  .header__burger {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__burger-line {
    width: 85%;
    height: 3px;
    background: #019cc4;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
  .header__burger-line:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background: #019cc4;
    left: 0;
    top: -10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger-line:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #019cc4;
    left: 0;
    top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}
.slider .mySwiper {
  height: 500px;
}
.slider .swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.slider .swiper-slide img {
  height: auto;
  width: 100%;
}
.slider .swiper-button-next, .slider .swiper-button-prev {
  width: 48px;
  height: 48px;
}
.slider .swiper-button-next svg path, .slider .swiper-button-prev svg path {
  stroke-opacity: 1;
  stroke: #fff;
  opacity: 0.8;
}
.slider .swiper-button-next:after, .slider .swiper-button-prev:after {
  content: "";
}
.slider .swiper-button-prev.swiper-button-disabled svg path {
  stroke-opacity: 0.7;
}
.slider .swiper-button-next.swiper-button-disabled svg path {
  stroke-opacity: 0.7;
}

@media (max-width: 767px) {
  .slider .mySwiper {
    height: 200px;
  }
  .swiper-slide:nth-child(2) img {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .swiper-button-next svg, .swiper-button-prev svg {
    width: 35px;
  }
}
.welcome {
  padding: 70px 0 75px;
}
.welcome__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
}
.welcome__title {
  line-height: 1.1;
  font-weight: 600;
  font-size: 36px;
  border-bottom: 1px solid #019cc4;
  padding: 0 0 10px 0;
  margin: 0 0 30px 0;
  position: relative;
  color: #019cc4;
}
.welcome__title:before {
  background: #654FA1;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  width: 80px;
}
.welcome__subtitle {
  font-size: 15px;
}
.welcome__image {
  width: 330px;
}

@media (max-width: 991px) {
  .welcome__image {
    display: none;
  }
}
@media (max-width: 767px) {
  .welcome__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .welcome__image {
    display: inline-block;
    width: 70%;
    height: auto;
    margin: 30px auto 0;
  }
}
@media (max-width: 545px) {
  .welcome__title {
    font-size: 33px;
  }
}
@media (max-width: 450px) {
  .welcome__image {
    width: 85%;
  }
}
.partners {
  padding-bottom: 50px;
}
.partners__slider {
  padding-bottom: 30px;
}
.partners .swiper-pagination {
  bottom: 0;
}
.partners .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  margin: 5px 7px !important;
  opacity: 0.5;
  border-radius: 20px;
  background: #869791;
}
.partners .swiper-pagination-bullet-active {
  opacity: 1;
}

.footer {
  padding: 50px 0;
  background: #262934;
}
.footer__logo {
  width: 125px;
  height: 125px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.footer__title {
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
  margin-bottom: 20px;
  position: relative;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.footer__title:before {
  background: white;
  bottom: 0;
  content: "";
  display: inline-block;
  height: 1px;
  position: absolute;
  width: 80px;
}
.footer__item {
  margin-bottom: 20px;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__link {
  font-size: 14px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
     -moz-column-gap: 15px;
          column-gap: 15px;
}
.footer__link i {
  font-size: 18px;
  color: white;
}