@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  text-decoration: none;
  list-style: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-family: "Open Sans", sans-serif;
}

body {
  font-size: 14px;
  line-height: 1.57143;
  font-weight: 400;
}

section {
  background-color: #7e7e7e;
  height: 100vh;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__top {
  position: relative;
  padding: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__top-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7px;
     -moz-column-gap: 7px;
          column-gap: 7px;
}
.header__top-link i {
  font-size: 16px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  color: #fff;
  background: #443676;
  -webkit-transition: background 0.2s, color 0.2s;
  transition: background 0.2s, color 0.2s;
}
.header__top-link i:hover {
  background: #a39ac7;
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
.header__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.header__info i {
  color: #654FA1;
  font-size: 18px;
}
.header__info-text p {
  color: #7e7e7e;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
}
.header__info-text a {
  color: #666;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.header__nav {
  width: 100%;
  background-color: #654FA1;
}
.header__nav-fixed {
  position: fixed;
  top: 0;
}
.header__list {
  height: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.header__item {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__link {
  padding: 12px 20px;
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 500;
}
.header__link:hover {
  background-color: #29204F;
}
.header__link i {
  color: white;
  margin-left: 5px;
}
.header__dropdown {
  display: none;
  min-width: 160px;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 0;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 0;
  background: #654FA1;
  border: none;
}
.header__dropdown-active {
  display: block;
}
.header__dropdown-item {
  height: 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__dropdown-link {
  width: 100%;
  color: #fff;
  line-height: 23px;
  padding: 9px 15px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  white-space: nowrap;
}
.header__dropdown-link:hover {
  background-color: #29204F;
}
.header__burger {
  display: none;
}

@media (max-width: 963px) {
  .header__nav {
    height: 92px;
  }
  .header__list {
    max-width: 83%;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
@media (max-width: 818px) {
  .header__list {
    max-width: 98%;
  }
}
@media (max-width: 767px) {
  .header {
    background-color: #fff;
    width: 100%;
  }
  .header.fixed {
    position: fixed;
    top: 0;
    z-index: 99;
  }
  .header__top {
    height: 100px;
  }
  .header__right {
    display: none;
  }
  .header__dropdown {
    position: static;
    -webkit-box-shadow: 0 0 0;
            box-shadow: 0 0 0;
    margin: 0 0 10px 5px;
  }
  .header__item {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .header__link {
    padding: 0 0 10px 0;
  }
  .header__link:hover {
    background-color: transparent;
  }
  .header__nav {
    padding: 0;
    height: 0;
  }
  .header__nav-active {
    padding: 20px 0 5px 0;
    height: 315px;
  }
  .header__nav-active .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__list {
    display: none;
    overflow-y: auto;
    height: 290px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    row-gap: 10px;
  }
  .header__burger {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    right: 0;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .header__burger-line {
    width: 85%;
    height: 3px;
    background: #654FA1;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    position: absolute;
  }
  .header__burger-line:before {
    content: "";
    position: absolute;
    width: 70%;
    height: 3px;
    background: #654FA1;
    left: 0;
    top: -10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  .header__burger-line:after {
    content: "";
    position: absolute;
    width: 40px;
    height: 3px;
    background: #654FA1;
    left: 0;
    top: 10px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
}